*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.loader {
  position: fixed;
  z-index: 9999;
  background-color: #00000050;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main{
  display: flex;
  /* height: calc(100% - 60px); */
  margin-left: 300px;
}

.card {
  min-height: 320px;
}